NEXT_PUBLIC_USE_FAKES="email"
NEXT_PUBLIC_APP_URL=http://localhost:3000

DATABASE_URL=""

# Next Auth

AUTH_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# Email SMTP

EMAIL_FROM=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=
